<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Upload</title>

    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/style.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/jasny-bootstrap/3.1.2/dist/css/jasny-bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/codemirror/5.33.0/lib/codemirror.css}" rel="stylesheet">
    <link th:href="@{/css/commons/logout.css}" rel="stylesheet">
    <style type="text/css">

    </style>
</head>

<body>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <a th:replace="commons/logout::logout_btn"></a>
                    <h2>编辑</h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">

                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>图片上传（注意：文件最大不超过1MB）</h5>
                </div>
                <div class="ibox-content">
                    <div id="img_container" style="background: red">
                    <img alt="没有找到该图片，请尝试重新上传" id="extension_img" th:src="${extension!=null}?@{/extensionImg/}+${img_src}+@{?}+${#strings.randomAlphanumeric(2)}:@{#}">
                    </div>
                    <p id="size_tips"></p>
                    <form action="/extension" enctype="multipart/form-data" method="post" modelAttribute="extension">
                        <input type="hidden" name="id" th:value="${extension.id}" th:if="${extension != null}">
                        <input type="hidden" th:name="_method" th:value="put" th:if="${extension != null}">
                        <input type="hidden" name="business.id" th:value="${extension!=null}?${extension.business.id}:${id}">
                        <button type="button" id="bgc_switch">关闭背景颜色</button>
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control fileinput" data-trigger="fileinput">
                                <span class="fileinput-filename"></span>
                            </div>
                            <span class="input-group-addon btn btn-default btn-file">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="pic"/>
                                </span>
                            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input name="title" type="text" class="form-control title"
                                       th:value="${extension!=null}?${extension.title}">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">地址</label>
                            <div class="col-sm-10">
                                <input name="extend_LINK" type="text" class="form-control extend_LINK"
                                       th:value="${extension!=null}?${extension.extend_LINK}">
                            </div>
                        </div>
                        <div>
                            <button  type="button" th:attr="back_uri = @{/bus_dashboard/}+${id}"  class="btn btn-white backBTN" th:if="${extension==null}">返回</button>
                            <button  type="button" th:attr="back_uri = @{/bus_dashboard/}+${extension.id}"  class="btn btn-white backBTN" th:if="${extension!=null}">返回</button>
                            <button class="btn btn-primary commitBTN" type="submit">上传</button>
                        </div>
                    </form>
                    <span id="msg" th:text="${uploadMsg}" th:if="${uploadMsg!=null}"></span>
                </div>
            </div>
        </div>
        </div>
        </div>

    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jasny-bootstrap/3.1.2/dist/js/jasny-bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/backend/extend_img_upload.js}"></script>
</body>

</html>
