<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User</title>
    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/logout.css}" rel="stylesheet" >
    <link th:href="@{/webjars/awesome-bootstrap-checkbox/1.0.0/awesome-bootstrap-checkbox.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css}" rel="stylesheet">
    <style>
        .border {
            height: 10px;
        }
    </style>
</head>

<body>

    <div id="wrapper">


        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <a th:replace="commons/logout::logout_btn"></a>
                    <h2>编辑</h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>商户编辑</h5>
                        </div>
                        <div class="ibox-content">
                            <form action="/user" method="post" class="form-horizontal" modelAttribute="user">
                                <!--所属商户ID-->
                                <input type="hidden" name="business.id" th:value="${user.id}">
                                <input type="hidden" name="condition" id="condition">
                                <div class="form-group"><label class="col-sm-2 control-label">字段类型</label>
                                    <div class="col-sm-10"><select class="form-control m-b field_select" name="type">
                                        <option value="1">短文本</option>
                                        <option value="2">长文本</option>
                                        <option value="3">单选项</option>
                                        <option value="4">多选项</option>
                                        <option value="5">日期</option>
                                        <option value="6">时间</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">字段名</label>
                                    <div class="col-sm-10"><input name="title" type="text" class="form-control title"></div>
                                </div>
                                <!--<div class="form-group"><label class="col-sm-2 control-label">时间间隔</label>-->
                                    <!--<div class="col-sm-10"><input type="text" class="form-control times"></div>-->
                                <!--</div>-->
                                <!--<div class="form-group"><label class="col-sm-2 control-label">除去时段</label>-->
                                    <!--<div class="col-sm-10"><input type="text" class="form-control times"></div>-->
                                <!--</div>-->
                                <div class="form-group order-group"><label class="col-sm-2 control-label">排序</label>
                                    <div class="col-sm-10">
                                        <input name="order" type="text" class="form-control order" placeholder="该项为空则自动排在末尾">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6 col-sm-offset-2 btns">
                                        <button th:attr="back_uri = @{/bus_dashboard/}+${user.id}"  type="button" class="btn btn-white backBTN" >取消</button>
                                        <button class="btn btn-primary submitBTN" type="submit">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    <!-- Mainly scripts -->
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
    <!-- Jasny -->
    <script type="text/javascript" th:src="@{/webjars/jasny-bootstrap/3.1.2/dist/js/jasny-bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/backend/filed_input.js}"></script>
</body>

</html>
