<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User</title>
    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/logout.css}" rel="stylesheet" >
    <link th:href="@{/webjars/awesome-bootstrap-checkbox/1.0.0/awesome-bootstrap-checkbox.css}" rel="stylesheet">
    <style>
        .border {
            height: 10px;
        }
    </style>
</head>

<body>

    <div id="wrapper">


        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <a th:replace="commons/logout::logout_btn"></a>
                    <h2>编辑</h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>修改密码</h5>
                        </div>
                        <div class="ibox-content">
                            <form action="/updatepsw" method="post" class="form-horizontal" modelAttribute="user">
                                <!--加入id和put隐藏域-->
                                <input type="hidden" name="id" th:value="${id}">
                                <input type="hidden" th:name="_method" th:value="put">
                                <div class="form-group"><label class="col-sm-2 control-label">原登录密码</label>
                                    <div class="col-sm-10"><input name="old_password" type="password" class="form-control"></div>
                                </div>
                                <div class="form-group" th:if="${errMsg != null}"><label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10"><p style="color: red" th:text="${errMsg}"></p></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">新登录密码</label>
                                    <div class="col-sm-10"><input name="password" type="password" class="form-control password"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">密码确认</label>
                                    <div class="col-sm-10"><input  type="password" class="form-control pswConfirm"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10"><p class="pswTips" style="color: red"></p></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button th:attr="back_uri = ${back_url}"  type="button" class="btn btn-white backBTN" >取消</button>
                                        <button class="btn btn-primary submitBTN" type="submit">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    <!-- Mainly scripts -->
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
    <!-- Jasny -->
    <script type="text/javascript" th:src="@{/webjars/jasny-bootstrap/3.1.2/dist/js/jasny-bootstrap.min.js}"></script>
    <!-- CodeMirror -->
    <script th:src="@{/webjars/codemirror/5.33.0/src/codemirror.js}"></script>
    <script th:src="@{/webjars/codemirror/5.33.0/mode/xml/xml.js}"></script>
    <script th:src="@{/js/backend/business_input.js}"></script>
</body>

</html>
