<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情</title>
    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/public/details_page.css}" rel="stylesheet">

</head>

<body class="gray-bg" th:style="'background-color:' + ${colors.detailsPageBackGroundColor}">
    <div id="main_wrapper">
        <div class="img_wrapper">
            <img th:src="@{/themeImg/} + ${business.username} + @{/details_pg/logo.jpg}">
        </div>
        <div class="conteng_wrapper">
            <form action="/result" method="post" modelAttribute="results" th:style="'color:'+${colors.detailsPageFontColor}">
                <input type="hidden" th:name="business.id" th:value="${business.id}">
                <!--<div class="shortText">-->
                    <!--<label>23423432</label>-->
                    <!--<input type="text">-->
                <!--</div>-->
                <!--<div class="longText">-->
                    <!--<p></p>-->
                    <!--<textarea name="key"></textarea>-->
                <!--</div>-->
                <!--<div class="radioContent">-->
                    <!--<p></p>-->
                    <!--<label><input name="" type="radio" value=""></label>-->
                <!--</div>-->
                <!--<div class="checkboxContent">-->
                    <!--<p></p>-->
                    <!--<label><input type="checkbox" name="" value=""></label>-->
                <!--</div>-->
                <!--<div class="dateContent">-->
                    <!--<input type="hidden" name="" value="">-->
                    <!--<label></label>-->
                    <!--<input type="date" class="date_input" name="">-->
                <!--</div>-->
                <!--<div class="timeContent">-->
                    <!--<input type="hidden" name="" value="">-->
                    <!--<label></label>-->
                    <!--<select name="">-->
                        <!--<option value=""></option>-->
                    <!--</select>-->
                <!--</div>-->
                <div class="btnWrapper">
                    <button type="button" id="submitBtn"></button>
                </div>
            </form>
        </div>
    </div>
    <input type="hidden" id="businessName" th:value="${business.username}">
    <input type="hidden" class="fields" th:each="field2Custom:${field2Customs}"
           th:attr="field_type= ${field2Custom.type},title=${field2Custom.title},order=${field2Custom.order},condition=${field2Custom.condition}">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/public/details_page.js}"></script>
</body>

</html>
