html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#main_wrapper
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    position: relative;
}

.content-warpper {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 10%;
}

.p_wrapper {
    width: 100%;
}

.content-warpper .p_wrapper p {
    width: 95%;
    margin: 1% auto;
    text-indent: 2em;
}

.joinBTN {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 99% 99%;
    color: transparent;
    border-color: transparent;
    outline: none;
    display: block;
    width: 50%;
    height: 40px;
    margin: 2% auto;
}

.footer_wrapper {
    position: absolute;
    bottom: 0;
    height: 9.3%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}