html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
#main_wrapper
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
    position: relative;
}

.content-warpper {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
}

.content-warpper p{
    color: white;
}

.joinBTN {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 99% 99%;
    color: transparent;
    border-color: transparent;
    outline: none;
    display: block;
    width: 50%;
    height: 40px;
    margin: 0 auto;
}